.. list-table::

   * - Phalanx name
     - ``{{ env.name }}``
   * - Root domain
     - `{{ env.fqdn }} <https://{{ env.fqdn }}>`__
   * - Identity provider
     - {{ env.identity_provider.value }}
   * - Argo CD
     - {% if env.argocd_url %}{{ env.argocd_url }}{% else %}N/A{% endif %}
   {%- if env.gcp %}
   * - Google console
     - - `Log Explorer <https://console.cloud.google.com/logs/query?project={{ env.gcp.project_id }}>`__
       - `Google Kubernetes Engine <https://console.cloud.google.com/kubernetes/clusters/details/{{ env.gcp.region }}/{{ env.gcp.cluster_name }}/details?project={{ env.gcp.project_id }}>`__
   * - Google Cloud Platform
     - .. list-table::

          * - Project ID
            - {{ env.gcp.project_id }}
          * - Region
            - {{ env.gcp.region }}
          * - Cluster name
            - {{ env.gcp.cluster_name }}
   {%- endif %}
   * - Applications
     - .. list-table::

          * - Documentation
            - Environment values
            - Defaults
          {% for app in env.applications %}
          * - :px-app:`{{ app.name }}`
            {%- if app.environment_values.get(env.name) %}
            - `values-{{ env.name }}.yaml <https://github.com/lsst-sqre/phalanx/blob/main/applications/{{ app.name }}/values-{{ env.name }}.yaml>`__
            {%- else %}
            -
            {%- endif %}
            {%- if app.values %}
            - `values.yaml <https://github.com/lsst-sqre/phalanx/blob/main/applications/{{ app.name }}/values.yaml>`__
            {%- else %}
            -
            {%- endif %}
          {% endfor %}
   {%- if env.gafaelfawr_scopes %}
   * - Gafaelfawr groups
     - .. list-table::

          * - Scope
            - Groups
          {% for scope_groups in env.gafaelfawr_scopes %}
          * - ``{{ scope_groups.scope }}``
            - - {{ scope_groups.groups_as_rst()[0] }}
            {%- if scope_groups.groups|length > 1 %}
            {%- for group in scope_groups.groups_as_rst()[1:] %}
              - {{ group }}
            {%- endfor %}
            {%- endif %}
          {%- endfor %}
   {%- endif %}
   {%- if env.argocd_rbac %}
   * - Argo CD RBAC
     - .. csv-table::
          {% for line in env.argocd_rbac_csv %}
          {{ line }}
          {%- endfor %}
   {%- endif %}
{%- if env.gcp %}

To obtain Kubernetes admin credentials for this cluster, run:

.. prompt:: bash

   gcloud container clusters get-credentials {{ env.gcp.cluster_name }} --project {{ env.gcp.project_id }} --region {{ env.gcp.region }}

For details on how to set up :command:`gcloud` and the necessarily plugins, see :doc:`/admin/infrastructure/google/credentials`.
{%- endif %}
