.. list-table::

   * - Phalanx name
     - ``{{ env.name }}``
   * - Root domain
     - `{{ env.fqdn }} <https://{{ env.fqdn }}>`__
   * - Argo CD
     - {% if env.argocd_url %}{{ env.argocd_url }}{% else %}N/A{% endif %}
   * - Applications
     - .. list-table::

          * - Documentation
            - Environment values
            - Defaults
          {% for app in env.applications %}
          * - :px-app:`{{ app.name }}`
            {%- if app.environment_values.get(env.name) %}
            - `values-{{ env.name }}.yaml <https://github.com/lsst-sqre/phalanx/blob/main/applications/{{ app.name }}/values-{{ env.name }}.yaml>`__
            {%- else %}
            -
            {%- endif %}
            {%- if app.values %}
            - `values.yaml <https://github.com/lsst-sqre/phalanx/blob/main/applications/{{ app.name }}/values.yaml>`__
            {%- else %}
            -
            {%- endif %}
          {% endfor %}
   * - Identity provider
     - {{ env.identity_provider.value }}
   {% if env.gafaelfawr_scopes %}
   * - Gafaelfawr groups
     - .. list-table::

          * - Scope
            - Groups
          {% for scope_groups in env.gafaelfawr_scopes %}
          * - ``{{ scope_groups.scope }}``
            - - {{ scope_groups.groups_as_rst()[0] }}
            {% if scope_groups.groups|length > 1 %}
            {% for group in scope_groups.groups_as_rst()[1:] %}
              - {{ group }}
            {%- endfor %}
            {%- endif %}
          {%- endfor %}
   {% endif %}
   {% if env.argocd_rbac %}
   * - Argo CD RBAC
     - .. csv-table::

          {% for line in env.argocd_rbac_csv %}
          {{ line }}
          {%- endfor %}
   {% endif %}
