```{px-app-values} {{ name }}
```

# {{ name }} Helm values reference

Helm values reference table for the {px-app}`{{ name }}` application.

```{include} ../../../applications/{{ name }}/README.md
---
start-after: "## Values"
---
```
